.register {
    margin: auto;
    @include flex(20px, center, center, column);
    color: white;

    h1 {
        font-size: 40px;
    }

    form {
        @include flex(18px, flex-start, flex-start, column);

        h3 {
            color: $main;
            font-size: 32px;
            margin: 0;
        }

        input {
            font-size: 32px;
            padding: 5px 2px;
            border: 2px solid $bright-back;
            background-color: $back-dark;
            color: white;
            border-radius: 10px;
        }

        label {
            width: 100%;

            .upload-img {
                width: 100%;
                border: 2px solid $bright-back;
                @include flex(0, center, center);
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 50px;
                    aspect-ratio: 1/1;
                }
            }
        }

        input:focus {
            outline: 0px;
        }

        button {
            width: 300px;
            text-align: center;
            font-size: 32px;
            padding: 5px;
            border-width: 0;
            background-color: $main;
            color: white;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 30px;
            align-self: center;
        }
    }

    .phase2 {

        .all-select-wrapper {
            width: 850px;
            @include flex(40px, center, center);
            flex-wrap: wrap;
        }

        .h3-wrapper {
            h3 {
                margin-bottom: 10px;
                font-weight: 100;
            }

            .select-wrapper {
                border: 2px solid $bright-back;
                border-radius: 10px;
                @include flex(0, center, center);
                padding: 0 10px;

                select {
                    width: 300px;
                    color: white;
                    background-color: $back-dark;
                    font-size: 32px;
                    padding: 10px 20px;
                    border-width: 0;
                    border-radius: 10px;

                }

                select:focus {
                    outline: 0px;
                }


                img {
                    width: 40px;
                }
            }
        }
    }

    .progress {
        width: 800px;
        margin-top: 90px;
        margin-bottom: 30px;
        @include flex(0, space-between, center);

        .main-progress {
            @include flex(10px, center, center, column);

            div {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                font-size: 40px;
                background-color: $bright-back;
                @include flex(0, center, center);

                span {
                    font-size: 40px;
                }
            }

            p {
                font-size: 24px;
                text-align: center;
                margin: 0;
            }
        }

        .mid-progress {
            @include flex(10px, center, center, column);

            div {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: $bright-back;
            }

            p {
                font-size: 24px;
                text-align: center;
                visibility: hidden;
                margin: 0;
            }
        }
    }
}

@media (max-width: 850px) {
    .register {
        .phase2 {
            .all-select-wrapper {
                width: 100%;
            }
        }
    }
}

@media (max-width: $mobile) {
    .register {
        h1 {
            font-size: 24px;
            margin-bottom: 0;
        }

        .phase1 {
            width: 90%;
            @include flex(10px, center, center, column);

            h3 {
                font-size: 18px;
                align-self: flex-start;
            }

            input,
            label {
                font-size: 18px;
                width: 100%;
            }

            .upload-img {
                img {
                    width: 30px;
                }
            }
        }

        .phase2 {
            .all-select-wrapper {
                width: 100%;
                gap: 10px;
            }

            .h3-wrapper {
                width: 90%;

                h3 {
                    font-size: 18px;
                    font-weight: 100;
                }

                .select-wrapper {
                    select {
                        font-size: 18px;
                    }

                    img {
                        width: 25px
                    }
                }
            }
            input{
                font-size: 18px;
                width: 90%;
                margin-top: 10px;
                padding: 10px 20px;
            }

        }

        form {
            button {
                width: 180px;
                font-size: 18px;
                @include flex(0, center, center);

                span {
                    font-size: 18px;
                }
            }
        }

        .progress {
            width: 100%;
            margin-top: 30px;
            @include flex(10px, center, center);

            .main-progress {
                div {
                    width: 30px;
                    height: 30px;
                    font-size: 16px;

                    span {
                        font-size: 16px;
                    }
                }

                p {
                    font-size: 12px;
                }
            }

            .mid-progress {
                div {
                    width: 15px;
                    height: 15px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}