.register{
    margin: auto;
    @include flex(20px,center,center,column);
    color:white;
    h1{
        font-size: 40px;
    }
    form{
        h3{
            color:$main;
            font-size: 32px;
        }
        input{
            font-size: 32px;
            padding: 5px 2px;
            border:2px solid $bright-back;
            background-color: $back-dark;
            color:white;
            border-radius: 10px;
        }
        .img-upload{
            border:2px solid $bright-back;
            @include flex(0,center,center);
            margin: auto;
        }
        input:focus {
            outline: 0px;
        }
    }
}
