.register {
    width: 568px;
    margin:auto;
    position: relative;
    margin-top: 20px;
    form {
        min-width: max-content;
        display: flex;
        flex-direction: column;
        padding: 1.5rem 2rem;
        border: 1px solid gray;
        border-radius: 10px;
        background-color: white;
        .error {
            color: red;
            height: 25px;
            font-size: 0.8rem;
        }
        button{
            background-color: white;
            border: 2px solid #1976d2;
            border-radius: 8px;
            color: #1976d2;
            font-size: larger;
            padding: 5px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

