.chat-box {
    display: flex;
    width: 370px;
    flex-direction: column;
    overflow-y: scroll;
    border-left: 1px solid;
    box-shadow: 0px 0px 10px 0px #000000;
    position: static;
    
    .chat-header {
        flex: 4;
        @include flex(0, space-between, center);
        border-bottom: 1px solid $bright-back;
        padding: 0 10px;

        h1 {
            font-size: 20px;
            margin: 0;
            margin-left: 10px;
            color: #fff;
        }
        span {
            font-size: 25px;
            color: #fff;
            opacity: 0.7;
        }
    }
}
.body-text {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    flex: 32;
    background-color: $back-dark;
    div {
        word-break: break-word;
        word-wrap: break-word;
    }
}

.chat-box-input {
    display: flex;
    flex: 6;
    align-items: center;
    justify-content: center;

    input {
        width: 95%;
        height: 40px;
        border: none;
        background-color: $bright-back;
        padding-left: 20px;
        color: #ffff;
        border-radius: 10px;
        font-size: 16px;
    }

    input:focus {
        outline: 1px solid $main;
    }

    ::placeholder {
        color: rgba(255, 255, 255, 0.5);
        font-size: 16px;
    }
}

.message-div {
    text-overflow: "ellipsis";
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
    span {
        margin: 0;
        margin-left: 0px;
        color: #ffff;
        font-size: 16px;
    }
}

.nickName {
    margin-right: 5px;
    font-size: 20px;
}

.message-body {
    color: rgba(255, 255, 255, 0.85);
    margin-left: 5px;
    font-size: 16px;
    margin-right: 5px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}
// detect if mobile

@media only screen and (max-width: 1750px) {
    .chat-box {
        display: flex;
        flex: 6;
    }
}

@media only screen and (max-width: 1300px) {
    .chat-box {
        display: flex;
        flex: 10;
    }
}

@media only screen and (max-width: 1100px) {
    .chat-box {
        display: flex;
        flex: unset;
        height: 100%;
        width: 270px;
        .chat-header{
            @include flex(0, center, center);
        }
    }

    .chat-box-input {
        flex: 2;
        input {
            width: 95%;
            height: 35px;
        }
        input:focus{
            outline: 0px solid $main;
        }
    }

    .chat-bar-mobile {
        height: 45px;
        color: white;
        background-color: $back-dark;
        @include flex(0, space-between, center);
        font-size: 16px;
        padding: 0 15px;
        span{
            font-size: 25px;
            opacity: 0.7;
        }
    }
}
