@font-face {
    font-family: roboto-normal;
    src: url("./fonts/Roboto-Medium.ttf") format("opentype");
    font-weight: 100;
}

// @font-face {
//     font-family: Airbnb-font-lite;
//     font-weight: 100;
//     src: url("../../assets/fonts/brown-regular.otf") format("woff");
//     font-style: normal;
// }
// @font-face {
//     font-family: Airbnb-Cereal-Black;
//     font-weight: 100;
//     src: url("../../assets/fonts/AirbnbCerealBlack.woff") format("woff");
//     font-style: normal;
// }