//basics
@import "/src/style/base/variables";
@import "/src/style/base/helpers";
@import "/src/style/base/font-face";
@import "/src/style/base/mixins";

//pages
@import "/src/style/pages/home";

//components
@import "/src/style/cmps/register";
@import "/src/style/cmps/header";
@import "/src/style/cmps/filter-bar";

* {
    box-sizing: border-box;
    font-family: roboto-normal;
}
.main-layout{
    max-width: 96vw;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}




