//basics
@import "/src/style/base/variables";
@import "/src/style/base/helpers";
@import "/src/style/base/font-face";
@import "/src/style/base/mixins";
@import "/src/style/base/themes";

//pages


//components
@import "/src/style/cmps/register";
@import "/src/style/cmps/header";
@import "src/style/cmps/menu";
@import "src/style/cmps/popup";
@import "src/style/cmps/wallet-connect";
@import "src/style/cmps/footer";
@import "src/style/cmps/chat-box";

* {
    box-sizing: border-box;
    font-family: roboto-normal;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.main-layout {
    max-width: 98vw;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
}
