//basics
@import "/src/style/base/variables";
@import "/src/style/base/helpers";
@import "/src/style/base/font-face";
@import "/src/style/base/mixins";
@import "/src/style/base/themes";

//pages
@import "/src/style/pages/home";
@import "src/style/pages/profile";

//components
@import "/src/style/cmps/register";
@import "/src/style/cmps/header";
@import "/src/style/cmps/filter-bar";
@import "src/style/cmps/menu";
@import "src/style/cmps/popup";
@import "src/style/cmps/wallet-connect";
@import "src/style/cmps/profile-statistics";
@import "src/style/cmps/search-bar";
@import "src/style/cmps/footer";
@import "src/style/cmps/event-box";


* {
    box-sizing: border-box;
    font-family: roboto-normal;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
.main-layout{
    max-width: 98vw;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px; 
}

.gist-messenger-bubble-iframe iframe, .gist-notification-iframe iframe, .gist-post-small-iframe iframe, .gist-prompt-iframe iframe {
    bottom: 20px !important; // Change the 80px to move the Messenger vertically from bottom edge fo the screen
    right: 20px!important; // Change the 40px to move the Messenger horizontally from right edge fo the screen
    // left: 40px!important; // Change the 40px to move the Messenger horizontally from left edge fo the screen
  }
@media only screen and (max-width: 580px) {
    .gist-messenger-bubble-iframe iframe, .gist-notification-iframe iframe, .gist-post-small-iframe iframe, .gist-prompt-iframe iframe {
      bottom: 100px !important; // Change the 80px to move the Messenger vertically from bottom edge fo the screen
      right: 20px!important; // Change the 40px to move the Messenger horizontally from right edge fo the screen
      // left: 40px!important; // Change the 40px to move the Messenger horizontally from left edge fo the screen
    }
  }