.events-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 18px;

    .event-preview {
        img {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 16/9;
            border-radius: 6px;
        }

        img:hover {
            transform: scale(1.02);
        }

        h2 {
            margin-top: 5px;
            margin-bottom: 4px;
            color: $main;
        }

        p {
            margin-bottom: 4px;
        }
    }
}

.not-found {
    @include flex(0,center,center,column);
    margin-top: 25vh;
    img {
        width: 220px;
    }
    p{
        text-align: center;
        font-size: 30px;
        margin: 8px;
    }
}