.events-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.container-few {
    @include flex(10vh, center, center,column);
    width: 1100px;
    margin: auto;
    .event-preview{
        padding-top: 75px
    }
}

.not-found {
    @include flex(0, center, center, column);
    margin-top: 25vh;

    img {
        width: 220px;
    }

    p {
        text-align: center;
        font-size: 30px;
        margin: 8px;
    }
}

.event-preview {
    img {
        object-fit: cover;
        width: 100%;
        aspect-ratio: 16/9;
        border-radius: 6px;
    }

    img:hover {
        transform: scale(1.02);
    }

    h2 {
        margin-top: 5px;
        margin-bottom: 4px;
        color: $main;
    }

    p {
        margin-bottom: 4px;
    }
}

@media (max-width: $mobile) {
    .events-container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
    }
    .container-few{
        width: 100%;
        gap: 30px; 
        .event-preview{
            padding-top: 0;
        } 
    }
}

@media (max-width: 1110px) {
    .container-few{
        width: 100%; 
    }
}