.stream-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: $back-dark;
    height: calc(100vh - 50px);
}

.stream {
    display: flex;
    flex: 18;
    flex-direction: column;

    .stream-video {
        @include flex(0, center, center);
        flex: 18;
        background-size: cover;

        .timer {
            @include flex(0, center, center);
            font-size: 80px;
            margin: 0;
            padding: 0;
            color: white;
            margin-top: 20px;
            background-color: #3b3b3b2d;
        }
    }
}

.stream-control {
    flex: 1.5;
    @include flex(0, space-between, flex-start);
    padding:10px;
    box-shadow: 0px -4px 6px -4px #000000;
    z-index: 1;
    .options{
        @include flex(40px, center, center);
        img{
            width:30px;
            aspect-ratio: 1/1;
            cursor: pointer;
        }
    }
    .start{
        @include flex(22px, center, center);
        div{
            color:white;
            font-size: 20px;
            border-radius: 10px;
            cursor: pointer;
            width: 150px;
            height: 30px;
            @include flex(0, center, center);
        }
        .begin{
            background-color: $main; 
        }
        .end{
            background-color: #F31313;
        }
        .pause{
            background-color: $bright-back;
        }
    }
    .details{
        @include flex(40px, center, center);
        color: white;
        font-size: 20px;
        height: min-content;
        img{
            width:30px;
            aspect-ratio: 1/1;
        }
        div{
            @include flex(4px, center, center);
            p{
                margin: 0;
            }
        }
    }
}

.settings {
    flex:3;
    color:white;
    .settings-upper{
        width: 100%;
        @include flex(5px,space-between,center);
        border-bottom: 2px solid $bright-back;
        font-size: 24px;
        span{
            font-size: 30px;
        }
    }
}
.confirm-exit{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgb(11, 11, 11);
    border-radius: 15px;
    width: 520px;
    padding: 20px;
    @include flex(0, center, center,column);

    img{
        width:95px;
        aspect-ratio: 1/1;
        margin-bottom: 24px;
    }
    h1{
        margin: 8px;
        color:white;
        font-size: 28px;
    }
    p{
        margin-top: 0;
        margin-bottom: 65px;
        color:rgba($color: #f3f3f3, $alpha: 0.7);
        font-size: 20px;
        text-align: center;
    }
    div{
        @include flex(24px, center, center);
        div{
            width: 165px;
            height:42px;
            border: 1px solid $main;
            color:white;
            border-radius: 10px;
            font-size: 20px;
            cursor: pointer;
        }
        div:hover{
            background-color: $main;
        }
        .cancel{
            background-color:$main
        }
    }
}

@media only screen and (max-width: 1100px) {
    .confirm-exit{
        width: 95vw;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}
