.stream-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: $back-dark;
    margin-top: 50px;
    height: calc(100vh - 50px);
}

.stream {
    display: flex;
    flex: 18;
    flex-direction: column;

    .stream-video {
        @include flex(0, center, center);
        flex: 18;
        background-size: cover;

        .timer {
            @include flex(0, center, center);
            font-size: 80px;
            margin: 0;
            padding: 0;
            color: white;
            margin-top: 20px;
            background-color: #3b3b3b2d;
        }
    }
}

.stream-control {
    flex: 1.5;
    @include flex(0, space-between, flex-start);
    box-shadow: 0px -4px 0px 0px #000000;
    padding-top: 20px;
    .options{
        @include flex(10px, center, center);
        img{
            width:30px;
            aspect-ratio: 1/1;
        }
    }
    .start{
        @include flex(10px, center, center);
        div{
            color:white;
            font-size: 20px;
            border-radius: 10px;
            padding: 5px 30px;
            cursor: pointer;
        }
        .begin{
            background-color: $main; 
        }
        .end{
            background-color: #F31313;
        }
        .pause{
            background-color: $bright-back;
        }
    }
    .details{
        @include flex(40px, center, center);
        color: white;
        font-size: 20px;
        height: min-content;
        img{
            width:30px;
            aspect-ratio: 1/1;
        }
        div{
            @include flex(4px, center, center);
            p{
                margin: 0;
            }
        }
    }
}
.settings {
    flex:3;
    box-shadow: 0px 0px 10px 0px #000000;
    color:white;
    .settings-upper{
        width: 100%;
        @include flex(5px,space-between,center);
        font-size: 24px;
        span{
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .stream-container {
        flex-direction: column;
        height: calc(100vh - 110px);
        flex-basis: auto;
        flex: 0;

        .settings {
            box-shadow: unset;
            padding: 10px;
            padding-bottom: 0;
            overflow-x: scroll;
            @include flex(10px, flex-start, center);
            white-space: nowrap;
        }

        .stream {
            flex: 2;
            .stream-video {
                @include flex(10px, center, center);
                background-size: cover;
                flex: 1;

                .timer-wrapper {
                    .timer {
                        font-size: 50px;
                        margin-top: 20px;
                    }

                    .live-in {
                        width: 90vw;
                    }
                }
            }
            .stream-control {
                flex: 0;
                padding: 10px;
                
            }
        }
    }
}



::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}
