// stream container

// // // flex div that contains stream and chat box
.stream-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    background-color: $back-dark;
    // height full screen minus header
    margin-top: 50px;
    height: calc(100vh - 50px);
}

.stream {
    display: flex;
    flex: 18;
    flex-direction: column;
    .stream-video {
        display: flex;
        flex: 18;
    }
    .stream-info {
        display: flex;
        flex: 4;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px -4px 0px 0px #000000;
        .streamer-image {
            width: 90px;
            height: 90px;
            border-radius: 150px;

            margin-left: 20px;
        }
        .about-streamer {
            height: 50%;
            margin-left: 20px;

            p {
                margin: 8px;
                color: white;
            }
            .h4 {
                margin: 8px;
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
.events-bar {
    display: flex;
    flex: 2;
    flex-direction: column;
    // create border left with shadow border
    border-left: 1px solid;
    align-items: center;
    //make shadow on the left border
    box-shadow: 0px 0px 10px 0px #000000;
    position: static;
    // make pointer
    overflow-y: scroll;
    cursor: pointer;
}
.events-bar-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    .event-bar-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }
    P {
        color: #ffff;
        font-size: 17px;
        margin: 5px;
        margin-left: 15px;
        margin-bottom: 10px;
    }
}

.team-icon {
    width: 65px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
// make the scroll bar transperent
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}

// when mobile stream container is vertical
@media only screen and (max-width: 1700px) {
    .events-bar-child {
        flex-direction: column;
    }
}
@media only screen and (max-width: 900px) {
    .stream-container {
        flex-direction: column;
        height: calc(100vh - 110px);
        flex-basis: auto;
    }
    .stream {
        flex: 2;
    }
    .chat-box {
        display: flex;

        flex-direction: column;
        // create border left with shadow border
        border-left: 1px solid;
        //make shadow on the left border

        position: static;
    }
}
@media only screen and (max-width: 600px) {
    .stream-container {
        flex-direction: column;
        height: calc(100vh - 110px);
        flex-basis: auto;
    }
    .stream {
        flex: 1;
    }
    .chat-box {
        display: flex;

        flex-direction: column;
        // create border left with shadow border
        border-left: 1px solid;
        //make shadow on the left border

        position: static;
    }
}
