.stream-mobile {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    position: relative;
    .stream-video-mobile {
        flex: 10;
    }

    .lower {
        @include flex(0, space-around, center);
        padding: 10px 0;
        padding-bottom: 5px;
        img{
            width: 34px;
            aspect-ratio: 1/1;
        }
        .smaller{
            width: 30px;
        }
    }
    .upper {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 5px 15px;
        @include flex(0, space-between, center);
        color: white;
        .detail-holder{
            @include flex(22px, center, center);
            div{
                @include flex(5px, center, center);
                img{
                    width: 22px;
                    aspect-ratio: 1/1;
                }
                p{
                    margin:0;
                    font-size: 18px;
                }
            }
        }
        .end-event-mobile{
            height: 28px;
            color: white;
            background-color: #F31313;
            border-radius: 10px;
            padding: 0 14px;
            @include flex(0, center, center);
        }
    }
}
