:root{
    --video-height:300px;
    --video-width:300px;
    --video-rotate:-90deg;
    --video-scale:1;
}

.stream-mobile {
    height: calc(100vh - 70px);
    @include flex(0, center, center);
    position: relative;

    .left-wrapper {
        @include flex(0, center, center, column);
        flex: 1;
        height: 100%;

        .stream-video-mobile {
            width: 100%;
            height: 300px;
            flex: 1;
        }

        .lower {
            @include flex(0, space-around, center);
            width: 100%;
            background-color: $back-dark;
            padding: 3px;

            img {
                width: 30px;
                aspect-ratio: 1/1;
            }

            .smaller {
                width: 25px;
            }
        }

        .upper {
            width: 100%;
            background-color: $back-dark;
            padding: 5px 15px;
            @include flex(0, space-between, center);
            color: white;

            img {
                width: 28px;
                aspect-ratio: 1/1;
            }

            .detail-holder {
                @include flex(22px, center, center);

                div {
                    @include flex(5px, center, center);

                    img {
                        width: 22px;
                        aspect-ratio: 1/1;
                    }

                    p {
                        margin: 0;
                        font-size: 18px;
                    }
                }
            }

            .end-event-mobile {
                height: 28px;
                color: white;
                background-color: #F31313;
                border-radius: 10px;
                padding: 0 14px;
                @include flex(0, center, center);
            }
        }
    }
}

@media (max-width: 550px) {
    .stream-mobile {
        height: 98vw;
        width: 90vh;
        margin: 0;
        transform: rotate(90deg);
        .stream-video-mobile{
            @include flex(0, center, center);
        }
        .stream-video-mobile > *{
                transform: rotate(var(--video-rotate)) scale(var(--video-scale));
                width: var(--video-height) !important;
                height: var(--video-width) !important;
            }

        .left-wrapper {
            width: 66vh;
        }

        .chat-box {
            width: 32vh
        }
    }

    .confirm-exit {
        height: 98vw;
        width: 500px;
        top:25vh;
        left:-60px;
        transform: rotate(90deg);
    }
}


.main-stream {
    margin: 0 !important;
    height: 95vh;
    @include flex(0, center, center);
}