// stream container

// // // flex div that contains stream and chat box
 .stream-container {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
 
     background-color: aqua;
     height: 80vh;

 }

.stream {
    display: flex;
    flex:4;

}
.chat-box {
    display: flex;
    flex:1;
    background-color: red;
  
}

// when mobile stream container is vertical
    @media only screen and (max-width: 600px) {
        .stream-container {
            flex-direction: column;
            height: 100vh;
        }
        .stream {
            flex: 1;
        }
        .chat-box {
            flex: 3;
        }
    }
